.container{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    }
    
    .wrapper{
        display: flex;
                justify-content: center;
        height: auto;
        border: none;
        align-items: center;
        color: blue;
       gap: 10px;
    }
    
    button {
       background-color: yellow;
       color: blue;
    
    }
